<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Perfil</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/perfil.css">
  
</head>
<body>
  <div class="container">
    <div class="header">
        <span class="back-btn" onclick="window.location.href='home.html'">&#8592;</span>
      <h2>Mi perfil</h2>
    </div>
    <div class="profile">
      <img src="https://i.pinimg.com/736x/5e/20/14/5e201432edf89a85fe7b5e81ddef8f25.jpg" alt="Foto de perfil">
      <h3>Alessandra S.</h3>
    </div>
    <div class="options">
      <div class="option" onclick="window.location.href='editar_perfil.html'">
        <i class="fas fa-user-edit"></i>
        <span>Editar Perfil</span>
        <span class="option-arrow">&#8594;</span>
      </div>
      <div class="option">
        <i class="fas fa-bell"></i>
        <span>Notificaciones</span>
        <span class="option-arrow">&#8594;</span>
      </div>
      <div class="option">
        <i class="fas fa-credit-card"></i>
        <span>Mi tarjeta</span>
        <span class="option-arrow">&#8594;</span>
      </div>
      <div class="option">
        <i class="fas fa-cog"></i>
        <span>Configuración</span>
        <span class="option-arrow">&#8594;</span>
      </div>
    </div>
  </div>
</body>
</html>
